/*Pagina Principal*/

h1{
  font-family:'Caesar Dressing', cursive;
  color: blue;
  font-size:5.5em;
}

#fotoypie{
	background-color: white;
}

.imgpie{
	padding-left: 5em;
	padding-right: 5em;
	font-size: 1.3em;
	font-family: Monospace,serif;
}

.container-fluid{
   padding: 2.5em 10em 4em 10em;
}

.participacion{
	padding-left: 5em;
	padding-right: 5em;
}

.otraFont{
	font-family:"Comic Sans MS", Geneva, sans-serif;
	font-size:0.80em;
}

#pieDePagina{
	padding-top:0.5em;
}

#frase{
	font-family:"Times New Roman",Serif;
	font-size:0.85em;
	color:gray;
}

#footer{
	padding-top:2em;
	border-top-style: solid;
	border-color: lightblue;
	border-radius: 2em;
}